#box{
    background-color: yellowgreen;
    display: inline-block;
    text-align: center;
    margin-left: 35%;
    padding: 10px;
    width: 400px;
    height: 200px;
    border: 2px ridge red; 
}

#header{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("./comp.jpg");
    background-size: 100% 100%;
    /* background-position-x: 500px; */
    text-align:center ;
    color: orange;
    /* border: 2px ridge red; */

}
#header div{
    position: absolute;
    text-align: center;
    top: 78%;
    left: 1%;
    /* border: 2px ridge rebeccapurple; */
    font-size: 30px;
    font-weight: 200;
    font-family: monospace;
}
section{
    color: orange;
}
section header{
    text-align: center;
    text-decoration: underline;
}
section div{
    margin-left: 25%;
    width: 800px;
}
section a{
    position: relative;
    display: block;
    background-color: orange;
    margin-left: 35%;
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: black;
    /* text-align: center; */
}
a span{
    display: block;
    position: absolute;
    text-align: center;
    left: 18%;
    margin-top: 8%;
    /* border: 1px ridge red; */
}
a{
    text-decoration: None;
    color: orange;
}
#education header{
   
    text-align: center;
    text-decoration: underline;
}
#education article{
    display: block;
    /* border: 2px ridge red; */
    width: 800px;
    height: 300px;
    text-align: center;
    margin-left: 22%;
}
#education div{
    /* //display: none; */
    margin-left: 18px;
    display: inline-block;
    margin-bottom: 10%;
    width:200px;
    height: 200px;
    border: 2px ridge orange;
    /* vertical-align: top; */
    text-align: center

}

#education article :hover{
    zoom: 1.3;
}
#techskills ul{
    display: block;
    /* border: 2px ridge red; */
    width: 150px;
    margin-left: 40%;
}
#techskills ul li:hover{
    zoom: 1.5;
}

#interskills div{
    /* border: 2px ridge red; */
    margin-left: 40%;
}
footer div{
    color: orange;
    margin-left: 40%;
}
nav{
    position: sticky;
    top: 0px;
    background-color: darkblue;
}